input, textarea, select {
  -webkit-text-fill-color: white !important;
  caret-color: white !important;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px #1e293b inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }

  option {
    background-color: #1e293b;
    color: white;
  }
}
